@charset "UTF-8";
/*common*/
/*color*/
/*body*/
html {
  height: 100%; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  clear: both; }

/*mixin*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*フォントがchrome,safariで太く見えるのを解消*/
body {
  -webkit-font-smoothing: antialiased; }

/*selectリセット*/
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box; }

/*inputリセット*/
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: inherit; }

/*searchリセット*/
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-shadow: none; }

input[type="search"]:focus {
  outline-offset: -2px; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: searchfield-decoration;
  display: inline-block; }

/*toppage css*/
.top-bg {
  color: #fff;
  background-image: url("../img/tms00/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  position: relative; }
  .top-bg .inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 453px;
    height: 400px; }
    .top-bg .inner .logo {
      background-image: url("../img/logo_ff.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center top;
      width: inherit;
      height: 70px;
      margin-bottom: 1rem; }
    .top-bg .inner .postform {
      width: 295px;
      margin: 4rem auto 0 auto; }
      .top-bg .inner .postform p {
        font-size: 14px;
        text-align: left;
        margin-bottom: 0.5rem; }
      .top-bg .inner .postform .input {
        display: block;
        background-color: #fff;
        border-radius: 3px;
        width: 280px;
        height: 21px;
        margin-bottom: 1rem;
        padding: 0.2rem 0.5rem;
        text-align: left; }
    .top-bg .inner .loginbtn input {
      background-color: #005E8A;
      width: 256px;
      height: 40px;
      color: #fff;
      border-radius: 24px;
      margin: 0 auto 1rem auto;
      line-height: 40px;
      color: #fff;
      color: #fff;
      font-size: 14px; }
      .top-bg .inner .loginbtn input:hover {
        cursor: pointer;
        background-color: #fff;
        color: #005E8A;
        font-weight: bold; }
  .top-bg p {
    font-size: 16px; }
  .top-bg .passQuestion {
    text-decoration: none;
    color: #005E8A;
    font-size: 12px; }
    .top-bg .passQuestion:hover {
      color: #fff; }

/*tms01page css*/
/*accordion開閉用*/
#acMenu dt {
  display: block;
  cursor: pointer; }

#acMenu dd {
  display: none; }

/*Logo*/
.logoWrap {
  width: 220px;
  height: 110px;
  padding: 20px 10px; }
  .logoWrap h1 {
    background-image: url("../../img/logo_ff.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px; }
  .logoWrap p {
    font-size: 12px;
    position: relative;
    top: -10px; }

/*nav*/
.nav {
  position: relative;
  width: 240px;
  height: 100%;
  background-color: #262A35;
  color: #fff;
  float: left; }
  .nav .accordion dt {
    padding: 20px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold; }
  .nav .accordion dd {
    background-color: #343948;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
    font-size: 12px;
    padding: 10px 0 10px 0; }
    .nav .accordion dd ul li {
      color: #D8D8D8;
      padding: 10px 20px 10px 20px; }
      .nav .accordion dd ul li a {
        color: #D8D8D8;
        text-decoration: none; }
      .nav .accordion dd ul li a:visited {
        color: #D8D8D8;
        text-decoration: none; }
      .nav .accordion dd ul li a:hover {
        font-weight: bold;
        color: #fff; }

/*panel*/
.panel {
  width: calc( 100% - 240px);
  height: 100%;
  float: right;
  background-color: #EFF3F6;
  overflow: auto; }
  .panel .header {
    background-color: #F8FAFB;
    height: 55px; }
    .panel .header ul {
      clear: both;
      overflow: auto;
      height: auto;
      float: right;
      padding: 10px 20px 0 0; }
      .panel .header ul li {
        width: 22px;
        height: 22px;
        float: left;
        padding: 5px; }
        .panel .header ul li img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%; }
  .panel .header2 {
    background-color: #F8FAFB;
    height: 55px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px inset;
    clear: both;
    padding: 0 20px; }
    .panel .header2 h2 {
      font-size: 16px;
      color: #000;
      font-weight: bold;
      width: auto;
      float: left;
      line-height: 55px; }
    .panel .header2 .search_window {
      float: right; }
      .panel .header2 .search_window span {
        display: block;
        background-image: url("../img/tms01/search.png");
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: 22px;
        left: 10px; }
      .panel .header2 .search_window input {
        font-size: 12px;
        padding: 8px 8px 8px 2rem;
        border-radius: 24px;
        border: 1px solid #979797; }
  .panel .tablewrap {
    background-color: #fff;
    margin: 55px 20px;
    padding: 20px 10px;
    overflow: auto;
    height: auto; }
    .panel .tablewrap .pulldown {
      margin-bottom: 20px;
      border: 1px solid #E9EBED;
      width: 240px;
      height: 40px;
      float: left;
      background-image: url("../img/tms01/Icon_triangle_bottm.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-size: 12px 6px; }
      .panel .tablewrap .pulldown:after {
        content: "Sort(A to Z)";
        position: relative;
        top: -40px;
        display: block;
        width: 180px;
        height: 40px;
        line-height: 40px;
        color: #6F8294;
        font-size: 12px;
        padding-left: 20px;
        border-right: 1px solid #E9EBED; }
      .panel .tablewrap .pulldown select {
        display: block;
        width: 240px;
        height: 40px;
        color: #6F8294;
        font-size: 12px; }
    .panel .tablewrap .btnwrap {
      float: right; }
      .panel .tablewrap .btnwrap li {
        display: block;
        float: left;
        height: 40px;
        margin: 0 5px;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }
        .panel .tablewrap .btnwrap li a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          display: block;
          line-height: 40px;
          padding-left: 46px; }
        .panel .tablewrap .btnwrap li a:visited {
          text-decoration: none;
          color: #fff; }
        .panel .tablewrap .btnwrap li:hover {
          opacity: 0.8; }
    .panel .tablewrap .table {
      clear: both;
      width: 100%;
      text-align: left; }
      .panel .tablewrap .table tr {
        height: 55px;
        font-size: 14px; }
        .panel .tablewrap .table tr th, .panel .tablewrap .table tr td {
          padding: 0 10px;
          vertical-align: middle; }
        .panel .tablewrap .table tr td input {
          vertical-align: middle; }
        .panel .tablewrap .table tr td input[type="checkbox"] {
          border: 1px solid #C6C8CC;
          border-radius: 2px;
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: none;
          background-size: contain; }
        .panel .tablewrap .table tr td input[type="checkbox"]:checked:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 3px;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../img/tms01/check.png);
          background-size: 16px 13px;
          background-repeat: no-repeat; }
        .panel .tablewrap .table tr td .team {
          width: 48px;
          height: 48px;
          display: block;
          position: relative; }
          .panel .tablewrap .table tr td .team img {
            display: block;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 40px;
            min-width: 30px; }
        .panel .tablewrap .table tr td:nth-child(n+2) {
          padding-left: 14px; }
      .panel .tablewrap .table tr:first-child {
        background-color: #E3EAF3 !important;
        height: 50px;
        color: #637484;
        font-weight: bold; }
      .panel .tablewrap .table tr:nth-child(odd) {
        background-color: #EFF3F6; }

/*ボタン類*/
.newbtn {
  background-color: #86A0CA;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  color: #fff;
  position: relative; }
  .newbtn:before {
    content: "";
    background-image: url("../img/tms01/Icon_plus.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    left: 15px; }

.delbtn {
  background-color: #D8807C;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  color: #fff;
  position: relative; }
  .delbtn:before {
    content: "";
    background-image: url("../img/tms01/Icon_trash.png");
    background-repeat: no-repeat;
    background-size: 16px 22px;
    width: 16px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 15px; }

.editbtn {
  background-color: #A4C686;
  border-radius: 2px;
  width: 73px;
  height: 24px;
  line-height: 24px;
  display: block;
  position: relative; }
  .editbtn:hover {
    opacity: 0.8; }
  .editbtn:before {
    content: "";
    background-image: url("../img/tms01/Icon_edit.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 6px; }
  .editbtn a {
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    display: block;
    padding-left: 32px; }
  .editbtn a:visited {
    text-decoration: none;
    font-size: 12px;
    color: #fff; }

/*ページリンク*/
.pagelink {
  clear: both;
  background-color: #fff;
  float: right;
  padding: 0;
  margin: 20px 5px 0 auto;
  border-top: 1px solid #E9EBED;
  border-bottom: 1px solid #E9EBED; }
  .pagelink li {
    background-color: #fff;
    float: left;
    color: #637484;
    height: 20px;
    width: 20px;
    border-left: 1px solid #E9EBED; }
    .pagelink li a {
      display: block;
      color: #637484;
      text-decoration: none;
      font-size: 12px;
      padding: 5px; }
      .pagelink li a img {
        width: auto;
        height: auto;
        max-width: 11px;
        max-height: 11px; }
    .pagelink li a:visited {
      text-decoration: none;
      color: #637484; }
    .pagelink li a:hover {
      background-color: #E7E7E7; }
  .pagelink li:first-child {
    border-left: none; }
  .pagelink li:last-child {
    border-right: 1px solid #E9EBED; }

/*基本テーブルレイアウトのスタイルはtms01.scss使用*/
/*tms11page css*/
/*lightbox(modal)箇所のみ*/
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4); }

#modal_content {
  width: 477px;
  height: 562px;
  background: #fff;
  margin: 10% auto auto 35%;
  padding: 20px 30px 30px 30px;
  margin-bottom: 8rem;
  position: relative;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1); }
  #modal_content .modal_inner {
    position: relative;
    color: #637484;
    font-size: 14px;
    font-weight: bold; }
    #modal_content .modal_inner .modalClose {
      content: "";
      width: auto;
      height: auto;
      display: inline-block;
      position: absolute;
      z-index: 10;
      right: 0;
      margin: 0 10px 0 0;
      padding: 0;
      width: 2px;
      height: 20px;
      background: #D8807C;
      transform: rotate(45deg); }
      #modal_content .modal_inner .modalClose:hover {
        cursor: pointer;
        opacity: 0.8; }
      #modal_content .modal_inner .modalClose:before {
        display: block;
        content: "";
        position: absolute;
        top: 54%;
        left: -8px;
        width: 20px;
        height: 2px;
        margin-top: -2px;
        background: #D8807C; }
    #modal_content .modal_inner h3 {
      color: #001125;
      font-weight: bold;
      font-size: 14px;
      position: relative;
      z-index: 2;
      padding-top: 30px;
      padding-left: 20px;
      margin-bottom: 2rem;
      width: 50%; }
      #modal_content .modal_inner h3:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 66%;
        left: 7px;
        margin: 0 10px 0 0;
        padding: 0;
        width: 2px;
        height: 16px;
        background: #001125; }
      #modal_content .modal_inner h3:after {
        display: block;
        content: "";
        position: absolute;
        top: 85%;
        left: 0;
        width: 16px;
        height: 2px;
        margin-top: -2px;
        background: #001125; }
    #modal_content .modal_inner--left {
      width: 35%;
      float: left; }
      #modal_content .modal_inner--left .upload_img {
        border: 1px solid #E9EBED;
        background-color: rgba(239, 243, 246, 0.5);
        background-image: url("../img/tms11/upload.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        border-radius: 6px;
        width: 144px;
        height: 144px;
        display: block;
        margin: 10px 0 0 0; }
    #modal_content .modal_inner--right {
      width: 62%;
      float: right; }
      #modal_content .modal_inner--right dt {
        margin: 0 0 10px 0;
        width: 100%;
        max-width: 290px; }
      #modal_content .modal_inner--right dd {
        width: 100%;
        overflow: hidden; }
        #modal_content .modal_inner--right dd input, #modal_content .modal_inner--right dd select {
          border: 1px solid #E9EBED;
          width: 95%;
          height: 40px;
          border-radius: 4px;
          margin: 0 0 20px 0;
          padding-left: 10px; }
        #modal_content .modal_inner--right dd select {
          background-image: url("../img/tms01/Icon_triangle_bottm.png");
          background-repeat: no-repeat;
          background-position: 95% 50%;
          background-size: 12px 6px; }
    #modal_content .modal_inner--btn {
      clear: both;
      width: 100%; }
      #modal_content .modal_inner--btn button {
        width: 118px;
        height: 40px;
        border-radius: 4px;
        font-size: 14px;
        float: right; }
        #modal_content .modal_inner--btn button:hover {
          cursor: pointer;
          opacity: 0.8; }
      #modal_content .modal_inner--btn .btn_close {
        background-color: #F5F8FA;
        color: #A6B7C7;
        margin-right: 1rem; }
      #modal_content .modal_inner--btn .btn_add {
        background-color: #86A0CA;
        color: #fff; }

/*tms01page css*/
/*accordion開閉用*/
#acMenu dt {
  display: block;
  cursor: pointer; }

#acMenu dd {
  display: none; }
