@charset "utf-8";

/*common*/

/*color*/
$color_glay01:#E7E7E7;
$color_glay02:#E7E7E7;
$color_glay03:#EFF3F6;
$color_glay04:#6F8294;
$color_glay05:#6F8294;
$color_glay06:#EFF3F6;
$color_navy:#001125;
$color_glay07:#E9EBED;
$color_glay08:#C6C8CC;
$color_glay09:#A6B7C7;
$color_red:#D8807C;
$color_lgreen:#A4C686;
$color_green:#73AE9D;
$color_blue:#86A0CA;
$color_blue02:#7F9BC7;
$color_yellow:#FFEC38;
$color_orange:#F6AB2F;

/*00 color*/
$top_blue01:#005E8A;

/*10 color*/
$nav_color01:#262A35;
$nav_color02:#343948;
$nav_color03:#D8D8D8;
$panel_color01:#F8FAFB;
$panel_color02:#EFF3F6;
$panel_color03:#E3EAF3;
$panel_color04:#637484;
$panel_color05:#979797;
$panel_color06:#E9EBED;

/*11 color*/
$modal_color01:#F5F8FA;


/*body*/
html{
	height:100%;
}
body{
	position: relative;
	width:100%;
	height:100%;
	margin:0;
	overflow:auto;
	clear:both;
}