@charset "utf-8";

/*nav.html css*/

/*accordion開閉用*/
#acMenu dt{
    display:block;
    cursor:pointer;
    color:$nav_color03;
    }
#acMenu dd{
    display:none;
    }
#acMenu .active{
	color:#fff;
	&:before{
		background-color:#fff;
	}
}

/*navigation*/
.nav{
	position: relative;
	width:240px;
	height:100%;
	background-color:$nav_color01;
	color:#fff;
	float:left;
	.accordion{
		dt{
			padding:20px;
			font-size: 12px;
			line-height: 1.5;
			font-weight: bold;
			position:relative;
			&:after{
				content: "";
			    width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 6px 0 6px;
				border-color: #ffffff transparent transparent transparent;
				position:absolute;
				right:22px;
				top:40px;
			}
		}
		.nav_edit{
			&:before{
				content:"";
				background-image:url("../img/Icon/edit_bg.png");
				background-color:$nav_color03;
				width:28px;
				height:28px;
				display:inline-block;
				background-repeat:no-repeat;
				background-size:28px 28px;
				position:relative;
				top:8px;
				left:0px;
				margin-right:16px;
			}
		}
		.nav_schedule{
			&:before{
				content:"";
				background-image:url("../img/Icon/calender_bg.png");
				background-color:$nav_color03;
				width:28px;
				height:28px;
				display:inline-block;
				background-repeat:no-repeat;
				background-size:28px 28px;
				position:relative;
				top:8px;
				left:0px;
				margin-right:16px;
			}
		}
		.nav_price{
			&:before{
				content:"";
				background-image:url("../img/Icon/yen_bg.png");
				background-color:$nav_color03;
				width:28px;
				height:28px;
				display:inline-block;
				background-repeat:no-repeat;
				background-size:28px 28px;
				position:relative;
				top:8px;
				left:0px;
				margin-right:16px;
			}
		}
		.nav_seat{
			&:before{
				content:"";
				background-image:url("../img/Icon/tickets_bg.png");
				background-color:$nav_color03;
				width:28px;
				height:28px;
				display:inline-block;
				background-repeat:no-repeat;
				background-size:28px 28px;
				position:relative;
				top:8px;
				left:0px;
				margin-right:16px;
			}
		}
		.nav_report{
			&:before{
				content:"";
				background-image:url("../img/Icon/about_bg.png");
				background-color:$nav_color03;
				width:30px;
				height:30px;
				display:inline-block;
				background-repeat:no-repeat;
				background-size:30px 30px;
				position:relative;
				top:10px;
				left:0px;
				margin-right:14px;
			}
		}
		dd{
			background-color:$nav_color02;
			box-shadow:rgba(0,0,0,0.5)0 1px 2px inset;
			font-size: 12px;
			padding:10px 0 10px 0;
			ul{
				li{
					color:$nav_color03;
					padding:10px 20px 10px 20px;
					a{
						color:$nav_color03;
						text-decoration: none;
					}
					a:visited{
						color:$nav_color03;
						text-decoration: none;
					}
					a:hover{
						font-weight: bold;
						color:#fff;
					}
				}
			}
		}
	}
}