@charset "utf-8";

$top_blue01:#005E8A;

/*toppage css*/

.top-bg{
	color:#fff;
	background-image:url("../img/tms00/back.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
	width:100%;
	height:100%;
	margin:auto;
	text-align:center;
	position:relative;
	.inner{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		width:453px;
		height:400px;
		.logo{
			background-image:url("../img/logo_ff.png");
			background-repeat: no-repeat;
			background-size:contain;
			background-position: center top;
			width:inherit;
			height:70px;
			margin-bottom: 1rem;
		}
		.postform{
			width:295px;
			margin: 4rem auto 0 auto;
			p{
				font-size: 14px;
				text-align: left;
				margin-bottom:0.5rem;
			}
			.input{
				display: block;
				background-color:#fff;
				border-radius:3px;
				width:280px;
				height:21px;
				margin-bottom:1rem;
				padding:0.2rem 0.5rem;
				text-align: left;
			}
		}
		.loginbtn{
			input{
				background-color: $top_blue01;
				width:256px;
				height:40px;
				color:#fff;
				border-radius:24px;
				margin:0 auto 1rem auto;
				line-height: 40px;
				color:#fff;
				color:#fff;
				font-size: 14px;
				&:hover{
					cursor: pointer;
					background-color:#fff;
					color:$top_blue01;
					font-weight: bold;
				}
			}
		}
	}
	p{
		font-size: 16px;
	}
	.passQuestion{
		text-decoration: none;
		color:$top_blue01;
		font-size: 12px;
		&:hover{
			color:#fff;
		}
	}
}



