@charset "utf-8";

/*tms_10.html　css*/
/*  このtableスタイルが基本スタイル　*/

/*Logo*/
.logoWrap{
	width:220px;
	height:110px;
	padding:20px 10px;
	h1{
		background-image:url("../../img/logo_ff.png");
		background-repeat:no-repeat;
		background-size:contain;
		height: 50px;
	}
	p{
		font-size: 12px;
		position:relative;
		top:-10px;
	}
}

/*panel*/
.panel{
	width: calc( 100% - 240px ) ;
	height:100%;
	float:right;
	background-color:$panel_color02;
	overflow:auto;
	.header{
		background-color: $panel_color01;
		height: 55px;
		ul{
			clear:both;
			overflow: auto;
			height: auto;
			float:right;
			padding:10px 20px 0 0;
			li{
				width: 22px;
				height: 22px;
				float:left;
				padding:5px;
				img{
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
	.header2{
		background-color: $panel_color01;
		height: 55px;
		box-shadow:rgba(0,0,0,0.2)0 1px 2px inset;
		clear:both;
		padding:0 20px;
		h2{
			font-size: 16px;
			color:#000;
			font-weight: bold;
			width: auto;
			float:left;
			line-height: 55px;
		}
		.search_window{
			float:right;
			span{
				display: block;
				background-image:url("../img/tms01/search.png");
				width: 12px;
				height: 12px;
				background-repeat:no-repeat;
				background-size:contain;
				position:relative;
				top:22px;
				left:10px;
			}
			input{
				font-size: 12px;
				padding:8px 8px 8px 2rem;
				border-radius:24px;
				border:1px solid $panel_color05;
			}
		}
	}
	.tablewrap{
		background-color:#fff;
		margin:55px 20px;
		padding:20px 10px;
		overflow: auto;
		height: auto;

		.pulldown{
			margin-bottom: 20px;
			border:1px solid $color_glay07;
			width: 240px;
			height: 40px;
			float:left;
			background-image:url("../img/tms01/Icon_triangle_bottm.png");
			background-repeat:no-repeat;
			background-position: 95% 50%;
			background-size:12px 6px;
			&:after{
				content: "Sort(A to Z)";
				position:relative;
				top:-40px;
				display: block;
				width: 180px;
				height: 40px;
				line-height: 40px;
				color:$color_glay04;
				font-size: 12px;
				padding-left:20px;
				border-right:1px solid $color_glay07;
			}
			select{
				display: block;
				width: 240px;
				height: 40px;
				color:$color_glay04;
				font-size: 12px;
			}
		}
		.btnwrap{
			float:right;
			li{
				display: block;
				float:left;
				height: 40px;
				margin:0 5px;
				a{
					text-decoration: none;
					font-size: 14px;
					display: block;
					line-height: 40px;
					padding-left:46px;
				}
				a:visited{
					text-decoration: none;
				}
				&:hover{
				opacity: 0.8;
				}
			}
		}
		.table{
			clear:both;
			width: 100%;
			text-align: left;
			tr{
				height: 55px;
				font-size: 14px;
				th,td{
					padding:0 10px;
					vertical-align: middle;
				}
				td{
					position:relative;
					input{
						vertical-align: middle;
					}
					input[type="checkbox"]{
						border:1px solid $color_glay08;
						border-radius:2px;
					    position: relative;
					    display: inline-block;
					    width: 20px;
					    height: 20px;
					    background: none;
					    background-size: contain;
					    background-color:#fff !important;
					}
					input[type="checkbox"]:checked:before {
					    content: "";
					    position: absolute;
					    left: 2px;
					    top: 3px;
					    display: inline-block;
					    width: 20px;
					    height: 20px;
					    background: url(../img/tms01/check.png);
					    background-size: 16px 13px;
					    background-repeat:no-repeat;
					}
					img{
						position:absolute;
						top:0;
						bottom:0;
						left:0;
						right:0;
						margin:auto;
					}
					.team{
						width: 48px;
						height: 48px;
						display: block;
						position:relative;
						img{
							display: block;
							text-align: center;
							position:absolute;
							top:0;
							bottom:0;
							left:0;
							right:0;
							margin:auto;
							max-width: 40px;
							min-width: 30px;
						}
					}
				}
				td:nth-child(n+2){
					padding-left:14px;
				}
			}
			tr:first-child{
				background-color:$panel_color03 !important;
				height: 50px;
				color:$panel_color04;
				font-weight: bold;
			}
			tr:nth-child(even){
				
			}
			tr:nth-child(odd){
				background-color:$color_glay06;
			}
		}
	}
}


/*ボタン類*/
.newbtn{
	background-color:$color_blue;
	border-radius:3px;
	width: 120px;
	height: 40px;
	color:#fff;
	position:relative;
	box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	a{
		color:inherit;
		text-decoration:none;
	}
	a:hover{
		color:inherit;
	}
	&:before{
		content:"";
		background-image:url("../img/tms01/Icon_plus.png");
		background-repeat:no-repeat;
		background-size: 18px 18px;
		width: 20px;
		height: 20px;
		position:absolute;
		top:11px;
		left:15px;
	}
}
.delbtn{
	background-color:$color_red;
	border-radius:3px;
	width: 100px;
	height: 40px;
	color:#fff;
	position:relative;
	box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.2);
	a{
		color:inherit;
		text-decoration:none;
	}
	a:hover{
		color:inherit;
	}
	&:before{
		content:"";
		background-image:url("../img/tms01/Icon_trash.png");
		background-repeat:no-repeat;
		background-size: 16px 22px;
		width: 16px;
		height: 22px;
		position:absolute;
		top:9px;
		left:15px;
	}
}
.csvbtn{
	background-color:#fff;
	color:$panel_color04;
	position:relative;
	padding-right:10px;
	a{
		color:inherit;
		text-decoration:none;
	}
	a:hover{
		color:inherit;
	}
	&:before{
		content:"";
		background-image:url("../img/tms01/Icon_csvUp.png");
		background-repeat:no-repeat;
		background-size: 14px 14px;
		width: 14px;
		height: 14px;
		position:absolute;
		top:13px;
		left:25px;
	}
}

.editbtn{
	background-color:$color_lgreen;
	border-radius:2px;
	width:73px;
	height:24px;
	line-height:24px;
	display:block;
	position:relative;
	&:hover{
		opacity: 0.8;
	}
	&:before{
		content:"";
		background-image: url("../img/tms01/Icon_edit.png");
		background-repeat:no-repeat;
		background-size: contain;
	    width: 14px;
	    height: 14px;
	    position: absolute;
	    top: 4px;
	    left: 6px;
	}
	a{
		text-decoration:none;
		font-size:12px;
		line-height: 24px;
		color:#fff;
		display:block;
		padding-left:32px;

	}
	a:visited{
		text-decoration:none;
		font-size:12px;
		color:#fff;
	}
}


/*ページリンク*/
.pagelink{
	clear:both;
	background-color:#fff;
	float:right;
	padding:0 ;
	margin:20px 5px 0 auto;
	border-top:1px solid $panel_color06;
	border-bottom:1px solid $panel_color06;
	li{
		background-color:#fff;
		float:left;
		color:$panel_color04;
		height: 20px;
		width: 20px;
		border-left:1px solid $panel_color06;
		a{
			display: block;
			color:$panel_color04;
			text-decoration: none;
			font-size: 12px;
			padding:5px;
			
			img{
				width: auto;
				height: auto;
				max-width: 11px;
				max-height: 11px;
			}
		}
		a:visited{
			text-decoration: none;
			color:$panel_color04;
		}
		a:hover{
			background-color:$color_glay01;
		}
	}
	li:last-child{
		border-right:1px solid $panel_color06;
	}
}