@charset "utf-8";

/*tms_11_2.html css*/

/* テーブルスタイルはtms10.scssと同一
   それ以外の追加styleのみ        */

/*activになった行のみ*/
.panel{
    .tablewrap{
        .table{
            #active{
                background:transparent;
                background-color:rgba(164,198,134,0.3);
                td:nth-child(n+2){
                    padding:0 10px 0 14px;
                    .endbtn{
                        background-color: $color_green;
                        a{
                            padding-left:25px;
                        }
                        &:before{
                            display: none;
                        }
                    }
                }
                td:nth-child(n+3){
                    input{
                        border:1px solid $color_glay07;
                        border-radius:3px;
                        background-color:#fff;
                        height: 35px;
                        line-height: 35px;
                        font-size: 14px;
                        padding-left:10px;
                        display: inline-block;
                        max-width:90%;
                    }
                }
                td:nth-child(n+5):nth-child(-n+6){
                    input{
                        width:140px;
                        max-width:80%;
                    }
                }
                td:nth-child(4){
                    select{
                        border:1px solid $color_glay07;
                        border-radius:3px;
                        background-color:#fff;
                        height: 37px;
                        line-height: 37px;
                        font-size: 14px;
                        padding-left:10px;
                        display: inline-block;
                        min-width: 200px;
                        background-image:url("../img/Icon/triangle_bottm.png");
                        background-repeat:no-repeat;
                        background-position: 95% 50%;
                        background-size:12px 6px;
                        max-width: 90%;
                    }
                }
                td:last-child{
                    padding:0 0 0 13px;
                }
            }
        }
    }
}


